<div class="card">
  <div class="card-header">
    All Positions</div>
  <div class="card-body">
    <%= render 'layouts/table' %>
  </div>
</div>
<% @funds.each do |fund| %>
  <% totalBook = 0%>
  <% totalMarket = 0%>
  <% @positions = fund.positions.where(user_id: current_user.id)%>
  <% if @positions.length > 0 %>
    <div class="card">
      <div class="card-header"><%= fund.name %></div>
      <div class="card-body">
        <%= render 'layouts/table' %>
      </div>
    </div>
  <% end %>
<% end %>
