<div class="card">
  <div class="card-header">New Trade</div>
  <div class="card-body">
    <form action="/">
      Ticker:
      <input type="text" name="firstname" >
      <input type="submit" value="Search">
    </form>
    <hr />
    <br />
    <%= render 'form', transaction: @transaction %>
  </div>
</div>
</div>
