      <% @funds.each do |fund| %>
      <div class="card">
        <div class="card-header"><a href="/funds/<%=fund.id%>"><%= fund.name %></a></div>
        <div class="card-body card-table">
          <%= render 'layouts/table' %>
        </div>
      </div>
      <% end %>

      <%= link_to 'New Fund', new_fund_path %>